body{
    background-color: #2e2e2e;
    font-family: 'arial';
    padding:0;
    margin: 0;
    color: #c3c3c3;
}

/* header */

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    background-color: #424242;
    margin: 0;
    color: #ffffff;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    background-color: #2e2e2e;
    margin: 0;
    color: #c3c3c3;
}

input{
    background-color: #2e2e2e;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    color: #c3c3c3; 
}

button{
    background-color: #424242;
    border: none;
    font-size: 20px;
    width: 100px;
    height: 50px;
    color: #c3c3c3;
}